@charset "UTF-8";

body {
	background-color: #1B1D22 !important;
	font-family: courier-prime !important;
}
h3 {
	color: #FFFFFF;
	font-family: courier-prime;
	text-align: left;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
}
p {
	color: #FFFFFF;
	font-family: courier-prime;
	text-align: left;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
}
.col-xs-12 p {
	color: #FFFFFF;
	font-size: xx-small;
	text-align: center;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
}
h2 {
	color: #FFFFFF;
	font-family: courier-prime;
	font-size: 2em;
	text-align: left;
	font-style: normal;
	font-weight: 400;
}
a {
	color: #92d0ff;
	text-decoration: underline;
	font-family: courier-prime;
	font-size: 1.5em;
	text-align: left;
	font-style: normal;
	font-weight: 400;
}
.row {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	display: block;
}
.container {
	max-height: 145%;
	display: block;
	margin-bottom: 25%;
}
p .glyphicon.glyphicon-envelope {
	font-size: 2em;
	padding-top: 0px;
}
.container .row p {
	font-size: 1em;
}
